body {
  background-color: #101630;
}
body nav {
  background-color: #101630;
}
body nav div a {
  color: #fff;
  text-decoration: none;
  font-size: large;
}
body nav div div ul li .nav-link {
  color: #fff;
}
body nav div div ul li .nav-link:hover {
  color: #4f9cd4;
}
body nav div div ul .first-button {
  width: 100px;
  height: auto;
  border: none;
  border-radius: 15px;
  background-color: #4f9cd4;
}
body nav div div ul .first-button:hover {
  color: #fff;
  font-weight: bold;
}
body #home {
  width: 100%;
  height: 90.2vh;
  background: transparent;
  display: flex;
  justify-content: center;
}
body #home div {
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
body #home div span {
  color: rgb(201, 202, 202);
  font-size: 40px;
  font-weight: 500;
}
body #home div h1 {
  color: #fff;
  font-size: 70px;
  font-weight: 700;
}
body #home div button {
  width: 60%;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: #4f9cd4;
}
body #home div button:hover {
  color: #fff;
  font-weight: bold;
}
body #sobreMi {
  width: 100%;
  height: 90.2vh;
  background: transparent;
  display: flex;
  justify-content: center;
}
body #sobreMi div {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #sobreMi div h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
body #sobreMi div p {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 300;
}
body #sobreMi div button {
  border-radius: 10px;
  width: 200px;
  height: 50px;
  align-self: center;
  border: 2px solid #4f9cd4;
  background: transparent;
  color: #fff;
  transition: background-color 1s;
}
body #sobreMi div button:hover {
  font-weight: 700;
  background-color: #4f9cd4;
}
body #sobreMi div div {
  position: absolute;
  width: 300px;
  height: 400px;
  align-self: end;
  margin-right: 30px;
  border: 3px #4f9cd4 solid;
  border-radius: 300px;
}
body #sobreMi div img {
  position: relative;
  height: 80%;
  object-fit: cover;
}
body #Portafolio {
  display: flex;
  width: 100%;
  flex-direction: column;
  color: #fff;
  text-align: center;
  height: 250vh;
  justify-content: space-around;
}
body #Portafolio h2 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}
body #Portafolio div {
  width: 100%;
  display: flex;
  justify-content: center;
}
body #Portafolio div div {
  display: block;
  width: 35%;
  height: 300px;
  text-align: start;
}
body #Portafolio div div h3 {
  font-weight: 300;
  color: #4f9cd4;
  margin-left: 30px;
}
body #Portafolio div div span {
  margin-left: 30px;
  font-size: 2rem;
}
body #Portafolio div div p {
  width: 70%;
  margin-left: 30px;
}
body #Portafolio div div .imgContainer {
  width: 70%;
  border-radius: 20px;
  height: 200px;
  overflow: hidden;
  transform: translate(10%, 10%);
  transition: transform 0.5s;
  cursor: pointer;
}
body #Portafolio div div .imgContainer:hover {
  transform: translate(4%, 20%);
}
body #Portafolio div div .imgContainer img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
body #Portafolio div div .adornoimg {
  position: absolute;
  border: #4f9cd4 solid 10px;
  height: 200px;
  width: 300px;
  border-radius: 20px;
  transform: translate(4%, 20%);
}
body #Portafolio div div button {
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 15px;
  background-color: #4f9cd4;
  margin-left: 30px;
}
body #Portafolio div div button:hover {
  color: #fff;
  font-weight: bold;
}/*# sourceMappingURL=estilos.css.map */