$primary-color:#101630;
$secondary-color:#4f9cd4;
$neutral-color:#fff;


@mixin button($withBtn,$heightBtn){
    width: $withBtn;
    height:$heightBtn;
    border: none;
    border-radius: 15px;
    background-color: $secondary-color;
    &:hover{
        color: #fff;
        font-weight: bold;
    } 
}
@mixin section(){
    width: 100%;
    height: 90.2vh;
    background: transparent;
    display: flex;
    justify-content: center;
}
body{
    background-color: $primary-color;

//----------------------------------------------------------------------------------
nav {
    background-color: $primary-color;
  div {
    a {
      color: $neutral-color;
      text-decoration: none;
      font-size: large;
    }
    div{
        ul{
            li{
               .nav-link{
                color: $neutral-color;
                &:hover{
                    color: $secondary-color;
                }
               }
            }
            .first-button{
                @include button(100px,auto);  
            }
        }
    }
  }
}
 //----------------------------------------------

#home{
    @include section();
    div{
        width: 40%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span{
            color: rgb(201, 202, 202);
            font-size: 40px;
            font-weight: 500
        }
        h1{
            color: #fff;
            font-size: 70px;
            font-weight: 700;
        }
        button{
           @include button(60%,40px);
        }
    }
   
}
//-------------------------------------------------------------------

#sobreMi{
    @include section();
    div{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2{
            color: $neutral-color;
            font-size: 3rem;
            font-weight: 700;
        }
        p{
            color: $neutral-color;
            font-size: 1.2rem;
            font-weight: 300;
        }
        button{
            border-radius: 10px;
            width: 200px;
            height: 50px;
            align-self: center;
            border: 2px solid $secondary-color;
            background: transparent;
            color: $neutral-color;
            transition: background-color 1s;
            &:hover{
                font-weight: 700;
                background-color: $secondary-color;
            }
        }
        div{
            position: absolute;
            width: 300px;
            height: 400px;
            align-self: end;
            margin-right: 30px;
            border: 3px $secondary-color solid;
            border-radius: 300px;
        }
        img{
         position: relative;
         height: 80%;
         object-fit: cover;
        }
    }
}
}

//------------------------------------------------------------